/bin/
/bin-jaxb/
/build/
/build-jar/
/build-test/
/catalina.base_IS_UNDEFINED/
/conf/registry.properties
/conf/registry-h2-bamboo.properties
/conf/toolkit.properties
/conf/toolkit-h2-bamboo.properties
/doc/javadoc/
/filestore/
/h2db/
/jacoco-report/
/jacoco.exec
/log.txt
/src/jaxb-gen/
/test-output/
/tomcattest/
/tools/bin/xjc-private-fields-plugin.jar
/vocabtoolkit.jar
/vocabtoolkit.war
