/bin/
/build/
/build-test/
/catalina.base_IS_UNDEFINED/
/conf/toolkit.properties
/conf/toolkit-h2-bamboo.properties
/doc/javadoc/
/filestore
/h2db/
/jacoco-report/
/jacoco.exec
/log.txt
/test-output/
/tomcattest/
/vocabtoolkit.jar
/vocabtoolkit.war
