## build and runtime specific system variables for ANDS Vocab Toolkit App
## DATABASE

# Database properties can be specified here instead of/as well as
# in persistence.xml.
javax.persistence.jdbc.url=jdbc:mysql://[path to DB]
javax.persistence.jdbc.user=[db_username]
javax.persistence.jdbc.driver=com.mysql.jdbc.Driver
javax.persistence.jdbc.password=[db_password]
# Cope with the database server dropping connections after a timeout.
# This is the most basic setting; customize as per instructions at:
#   http://www.mchange.com/projects/c3p0/
hibernate.c3p0.testConnectionOnCheckout=true
# This is needed (at least with MySQL) to ensure that changes made
# to the database externally (i.e., by the portal) are immediately
# visible to JPA queries.
hibernate.connection.isolation=2

## FILE STORAGE

# The top level directory storing all Toolkit data
Toolkit.storagePath = [path where data is stored]

# The directory in which all vocabulary data will be stored
Toolkit.vocabsPath = [path where data is stored]/vocabs

# The directory in which all SISSVoc spec files will be stored
SISSVoc.specsPath = [path where data is stored]/specs

# The directory in which temporary files will be stored
Toolkit.tempPath = [path where data is stored]/temp

## POOLPARTY 

PoolPartyHarvester.remoteUrl = [pool party api url]
PoolPartyHarvester.username = [pool party username]
PoolPartyHarvester.password = [pool party user password]
PoolPartyHarvester.defaultFormat = RDF/XML
PoolPartyHarvester.defaultExportModule = concepts

# local OpenRDF Sesame server
SesameImporter.serverUrl = [Sesame API URL]

# SISSVoc spec file template
SISSVoc.specTemplate = [filename to spec file template]
# SISSVoc spec file template variables
# Top-level of deployment path. Should begin with a slash,
# but not end with one.
SISSVoc.variable.DEPLOYPATH = [/path...]
# The name of the Vocabulary service
SISSVoc.variable.SERVICE_TITLE = [title]
# The name of the Vocabulary service owner
SISSVoc.variable.SERVICE_AUTHOR = [author]
# Contact email address for the Vocabulary service owner
SISSVoc.variable.SERVICE_AUTHOR_EMAIL = [email]
# URL of the homepage of the Vocabulary service
# ANDS home page for now; in future, could be
# vocabs.ands.org.au itself.
SISSVoc.variable.SERVICE_HOMEPAGE = [URL]
# URL prefix of SPARQL endpoint to use for doing queries.
# Should end with a slash.
SISSVoc.variable.SPARQL_ENDPOINT_PREFIX = [URL]
# Path to the XSL stylesheet that generates the HTML pages.
# Path is relative to the SISSVoc webapp.
SISSVoc.variable.HTML_STYLESHEET = [path.xsl]
