<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ANDS-Vocabs-Toolkit</display-name>
  <listener>
    <listener-class>au.org.ands.vocabs.toolkit.utils.ApplicationContextListener</listener-class>
  </listener>
  <servlet>
    <description>JAX-RS REST web services</description>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
    <init-param>
    <param-name>jersey.config.server.mediaTypeMappings</param-name>
    <param-value>txt : text/plain, xml : application/xml, json : application/json</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <!-- async required because we use AsyncResponse. -->
    <async-supported>true</async-supported>
  </servlet>

  <!-- Swagger API. -->
  <servlet>
    <servlet-name>Jersey2Config</servlet-name>
    <servlet-class>au.org.ands.vocabs.registry.api.context.SwaggerBootstrapper</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- Filter to implement CORS settings for swagger.json
       and the API itself. -->
  <filter>
    <filter-name>ApiOriginFilter</filter-name>
    <filter-class>au.org.ands.vocabs.registry.api.context.ApiOriginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ApiOriginFilter</filter-name>
    <url-pattern>/swagger.json</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ApiOriginFilter</filter-name>
    <url-pattern>/api/resource/*</url-pattern>
  </filter-mapping>

  <servlet-mapping>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
